<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Search</title>
</head>
<body>
    <h1 class="heading"><a routerLink="/">Github Search</a></h1>
    <form class="user-form" id="form"(ngSubmit)="userSearch(userForm)" #userForm="ngForm">
        <input type="text" id="search" placeholder="Search a Github User." ngModel name="userName">
    </form>
    <main class="main">
        <div class="card" *ngFor="let user of users">
            <div>
                <a routerLink="/api.github.com/users">
                    <img [src]="user.avatar_url" alt="profile-image"class="avatar"> 
                </a>
            </div>
            <div>
                <h2>{{user.login}}</h2>
            </div>
        </div>
    </main>
</body>
</html>