<div class="card">
    <div>
        <img *ngFor="let user of users" [src]="user.avatar_url" 
        alt="profile-image"
        class="avatar">
    </div>
    <div class="user-info">
        <h2>{{userLogin}}</h2>
        <p>{{userLogin}}</p>
        <ul>
            <li>{{userLogin}}<strong> Followers</strong> </li>
            <li>{{userLogin}}<strong> Following</strong> </li>
            <li>{{userLogin}}<strong> Repos</strong> </li>
        </ul>
        <div id="repos"></div>
    </div>
</div>
