<h1 class="heading"><a routerLink="/">Github Search</a></h1>
<div class="card">
    <div>
        <img [src]="photo" 
        alt="profile-image"
        class="avatar">
    </div>
    <div class="user-info">
        <h2>{{name}}</h2>
        <p>{{bio}}</p>
        <ul>
            <li>{{followers}}<strong> Followers</strong> </li>
            <li>{{following}}<strong> Following</strong> </li>
            <li>{{public_repos}}<strong> Repos</strong> </li>
        </ul>
        <div id="repos">
            <a *ngFor="let rep of repo, let html of html_url" [href]="html" target="_blank" class="repo">
                <p>{{rep.slice(18)}}</p>
            </a>
        </div>
    </div>
</div>
