<!-- <main class="main">
    <div class="card">
        <div>
            <img [src]="users" 
            alt="profile-image"
            class="avatar">
        </div>
        <div *ngIf="users" class="user-info">
            <h2>{{users}}</h2>
            <p>{{users}}</p>
            <ul>
                <li>{{users}}<strong> Followers</strong> </li>
                <li>{{users}}<strong> Following</strong> </li>
                <li>{{users}}<strong> Repos</strong> </li>
            </ul>
            <div id="repos"></div>
        </div>
    </div>
</main> -->
<p>it works</p>

